* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

;

nav {
    height: 80px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
}

;

.section2 {
    //     background-image: url(../../../../public/img/hero-img.png);
    //     background-repeat: no-repeat;
    //    background-position-x: right;
    height: 80vh;
    background-color: rgb(225, 225, 225);
    align-items: center;
}

.mainsc2 {
    flex-direction: column;
    justify-content: space-evenly;
}

.button_sc2 :nth-of-type(1) {
    background-color: rgb(230, 9, 9);
    color: white;
    padding: 6px;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.button_sc2 :nth-of-type(2) {
    padding: 6px;
    width: 150px;
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
}

// * section 3
.section3 {
    height: 100vh;
}

.leftsc3 {
    background-image: url(../../../../public/img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 610px;
    position: relative;
}

.div_left_sc3 {
    position: absolute;
    left: 50px;
    top: 55vh
}
.divbuttonsc3{
    background-image: url(../../../../public/img/about-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 400px;
    position: relative;
}
.buttonsc3 {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: red;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: red 0px 0px 0px 0px;
    animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
    align-items: center;
    border: 0;
    position: absolute;
    top: 90px;
    left: 40%;
  }
  
  .buttonsc3:is(:hover, :focus) {
    transform: scale(1.2);
  }
  @keyframes pulse {
    100% {
      box-shadow: 0 0 0 25px rgba(193,244,246,0);
    }
  }

// *section 4
.section4 {
    height: 60vh;
    background-color: rgb(225, 225, 225);

}
// * section img
.sectionimage{
    height: 50vh;
    background-image: url(../../../../public/img/about-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
// * section 5
.section5 button{
        border: none;
        color: black;
}
.nav-pills .nav-link.active{
    background-color: rgba(191, 8, 8, 0.89) !important;
}
// *section 6
.section6{
    height: 70vh;
    padding: 20px;
    background-color: rgb(225, 225, 225);
    padding: 20px;
}
.imgcarousel6 img{
    width: 200px;
    border: 5px solid white;
    border-radius: 100%;
}
.line{
    width: 5px;
    height: 190px;
}
.carousel-indicators [data-bs-target]{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}
// *section 8
.section8{
    height: 100vh;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(225, 225, 225);
}
// *section 9
.section9{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.formule{
    background-color: rgb(245, 245, 245);
    padding: 5px;
}
// *
.divsignup{
    width: 500px;
    height: 500px;
    padding: 10px;
}
// *
.section10{
    height: 150vh;
    padding: 15px;
}
.divform {
    background-color: rgb(225, 225, 225);
    width: 440px;
    gap: 20px;
    padding: 5px 15px;
}
.divform i{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: white;
}
.inputsc10{
    width: 400px;
    border: 1px solid rgb(190, 190, 190);
}
.formsc10{
    box-shadow:5px 5px 5px 5px rgba(238, 233, 233, 0.451);
}

footer{
    margin-top: 30px;
    background-color: black;
    color: white;
    height: 80vh;
}
footer .divform{
    background-color: black;
    width: 300px;
    gap: 20px;
    padding: 5px 15px;
}
// **************************************
// *section 7
.section7{
    height: 70vh;
}
.section7 img{
    border: 3px solid white;
}
.divforimg1{
    background-image: url("../../../../public/img/gallery/gallery-1.jpg");
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.blackforimg{
    width: 400px;
    height: 400px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.314);
    justify-content: end;
    align-content: center;

}
.divforimg2{
    background-image: url("../../../../public/img/gallery/gallery-2.jpg");
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.divforimg3{
    background-image: url("../../../../public/img/gallery/gallery-3.jpg");
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.clickdib{
    display: none;
}