* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

;

nav {
    height: 80px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
}

;

.section2 {
    //     background-image: url(../../../../public/img/hero-img.png);
    //     background-repeat: no-repeat;
    //    background-position-x: right;
    height: 80vh;
    background-color: rgb(225, 225, 225);
    align-items: center;
}

.mainsc2 {
    flex-direction: column;
    justify-content: space-evenly;
}

.button_sc2 :nth-of-type(1) {
    background-color: rgb(230, 9, 9);
    color: white;
    padding: 6px;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.button_sc2 :nth-of-type(2) {
    padding: 6px;
    width: 150px;
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
}

// * section 3
.section3 {
    height: 100vh;
}

.leftsc3 {
    background-image: url(../../../../public/img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 590px;
    position: relative;
}

.div_left_sc3 {
    position: absolute;
    left: 50px;
    top: 55vh
}

// *section 4
.section4 {
    height: 60vh;
    background-color: rgb(225, 225, 225);

}

// * section 5
.section5 button{
        border: none;
        color: black;
}
.section8{
    height: 100vh;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(225, 225, 225);
}
.section9{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.formule{
    background-color: rgba(245, 245, 245, 0);
    padding: 5px;
}
.section10{
    height: 150vh;
    padding: 15px;
}
.divform {
    background-color: rgb(225, 225, 225);
    width: 440px;
    gap: 20px;
    padding: 5px 15px;
}
.divform i{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
color: white;
}
.inputsc10{
    width: 400px;
    border: 1px solid rgb(190, 190, 190);
}
.formsc10{
    box-shadow:5px 5px 5px 5px rgb(238, 233, 233);
}

footer{
    margin-top: 30px;
    background-color: black;
    color: white;
    height: 80vh;
}
footer .divform{
    background-color: black;
    width: 300px;
    gap: 20px;
    padding: 5px 15px;
}